* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

img {
  width: 250px;
  height: 200px;
}

img,
h1,
a {
  align-self: center;
}
